
@media all and (-ms-high-contrast: none);
/* Hide Tags in Detailed Display */
[aria-label="Tags"]{display:none;}
#tags{display:none;}


/* Remove Tags */
a.md-button[aria-label="tagger"]{display: none;}
a.md-button[aria-label="TAGGER"]{display: none;}
a.md-button[aria-label="Tags"]{display: none;}
#tags{display: none;}

/* Hide Tags in Menu Tab */
a.md-button[aria-label="Tags"] {display:none;}
a.md-button[aria-label="nui.mainmenu.label.tags"] {display:none;}
a.md-button[aria-label="Bestill"] {display:none;}

/* Hide Tags in Main Menu for authwenticated users and guest users */
.md-button[aria-label="nui.mainmenu.label.tags"], .md-button[aria-label="TAGS"] {display: none;}

/* Fjerner samisk */
.EXLLanguageOptionLANGse_NO {display:none;}

/* Gjør den midlertidige "hva synes du..." til grå */
.md-button[aria-label="Hva synes du om nytt GUI?"] { background-color: #555;}


/* GLOBAL */

body{ 
  background-color: #eae6e2 !important;
}


/* BOKS TIL HØYRE */
.default-card news-box2 {
  /*display: none;*/
}

#ubbmed_jpg {
  display: block;
  max-width:100%;
  max-height:100%;
}

/* HEADER */
prm-topbar prm-logo #banner.product-logo a.md-primoExplore-theme,
prm-topbar prm-logo #banner.product-logo a:hover.md-primoExplore-theme,
prm-topbar div.top-nav-bar.layout-row prm-logo #banner.product-logo a:hover.md-primoExplore-theme{
  background-color: #cf3c3a !important;
  border-bottom: 0px !important;
  text-decoration: none;
}

.prm-primary-bg.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark::after, prm-topbar{ 
  height:90px !important;
  background-color: #cf3c3a !important;
}

/*Endrer farge på toppbanneret (der logoen er)*/
.prm-primary-bg.prm-hue1, 
prm-spinner.prm-hue1.overlay-cover.light-on-dark::after, 
prm-topbar .top-nav-bar, 
prm-search-bar.prm-hue1{ 
  background-color: #cf3c3a !important;
}

/*  { background-color: #77af00 !important;} */
prm-topbar div.top-nav-bar.layout-row prm-user-area md-fab-toolbar.hide-xs._md-animations-ready.md-fab-toolbar.md-left.md-is-open div._md-fab-toolbar-wrapper div._md-fab-toolbar-content md-toolbar._md.md-primoExplore-theme md-fab-actions.md-toolbar-tools.zero-padding.buttons-group
{background-color: #cf3c3a !important;}

prm-topbar div.top-nav-bar.layout-row prm-user-area md-fab-toolbar.hide-xs._md-animations-ready.md-fab-toolbar.md-left.md-is-open div._md-fab-toolbar-wrapper div._md-fab-toolbar-content md-fab-trigger.align-with-text.show-user-info
{background-color: #cf3c3a !important;}

/* Skrift i header */
prm-topbar .md-button:not(.md-icon-button) {
  min-width:8em !important;
  font-size: 15px;
}


/* LOGO HOVER -> fjerner hoverboxen */
prm-topbar prm-logo .product-logo#banner a.md-primoExplore-theme, prm-topbar prm-logo .product-logo#banner a.md-primoExplore-theme:hover, prm-topbar div.top-nav-bar.layout-row prm-logo .product-logo#banner a.md-primoExplore-theme:hover {
    background-color: none !important;
    background: none !important;
    border: 0px !important;
    text-decoration: none;
}



.md-button.arrow-link-button .button-content:focus, .md-button.arrow-link-button .button-content:hover, .md-button.arrow-link-button .hover.button-content, .md-button.arrow-link-button:focus .button-content, .md-button.arrow-link-button:hover .button-content, .prm-links-background.prm-hue-1, .recommendations-title.hover > span > span, .recommendations-title:hover > span > span, a.hover, a:focus, a:hover, prm-citation-trails-item.active-item md-card > .md-button:focus .item-title span, prm-citation-trails-item.active-item md-card > .md-button:hover .item-title span, prm-tags-list .md-chips .md-chip .md-chip-content:hover strong, prm-tags-list .md-chips md-chip .md-chip-content:hover strong, prm-tags-list md-chips .md-chip .md-chip-content:hover strong, prm-tags-list md-chips md-chip .md-chip-content:hover strong {
    background-color: none !important;
}

.md-button.arrow-link-button .button-content:focus, .md-button.arrow-link-button .button-content:hover, .md-button.arrow-link-button .hover.button-content, .md-button.arrow-link-button:focus .button-content, .md-button.arrow-link-button:hover .button-content, .recommendations-title.hover > span > span, .recommendations-title:hover > span > span, a.hover, a:focus, a:hover, prm-citation-trails-item.active-item md-card > .md-button:focus .item-title span, prm-citation-trails-item.active-item md-card > .md-button:hover .item-title span, prm-tags-list .md-chips .md-chip .md-chip-content:hover strong, prm-tags-list .md-chips md-chip .md-chip-content:hover strong, prm-tags-list md-chips .md-chip .md-chip-content:hover strong, prm-tags-list md-chips md-chip .md-chip-content:hover strong {
    box-shadow: none !important;
}

.md-button.arrow-link-button .button-content, a {
    text-decoration: none;
    box-shadow: none !important;
}



/* SØK */

/* Søk-knapp med blå bakgrunn*/
prm-search-bar .simple-search-wrapper .search-actions .md-button
{ background-color: #00769e !important;}

/* Fjerner grønnfarge fra hover på "confirm-search" */
.md-button.button-confirm, .service-form-static-panel button.button-confirm prm-icon + span, .service-form-static-panel button.button-confirm prm-icon svg path
{ background-color: #00769e !important; }

/*Avansert-søk-knappen med blå bakgrunn*/
prm-search-bar div.layout-fill.layout-column div.search-wrapper.dark-toolbar.prm-top-bar-container.main-header-row.layout-row div.search-switch-buttons button
{ background-color:#00769e !important;}

.classic-input .search-scope {
  background-color: #00718d;
  color: #fff;
  font-size: 16px;
  width: 150px;
}

/*Endrer fargen på feltet bak søkefeltet*/
.prm-primary-bg, prm-spinner.overlay-cover.light-on-dark::after, prm-search-bar
{ background-color: #eae6e2;}

.prm-primary-bg, prm-search-bar, prm-spinner.overlay-cover.light-on-dark:after
{ background-color: #eae6e2;}

/*Endrer bakgrunnsfargen på feltet under søkefeltet*/
md-content, md-content.md-primoExplore-theme
{ background-color: #eae6e2;}

/* Endrer tekst på "avansert søk" */
button.switch-to-simple.zero-margin.button-with-icon.md-button.md-primoExplore-theme.md-ink-ripple
{ color: #fff;}


/* Font farger tidskriftsøk*/
prm-alphabet-toolbar .md-button.letter-button {
    width: 30px;
    color: #000 !important;
}

prm-alphabet-toolbar .md-button {
    color: #000;
}

prm-alphabet-toolbar .md-button:hover {
    color: #000;
}





/* Hiding tags in profildetaljer */
prm-account md-card#personalDetails md-card-content md-checkbox
{ display:none !important}


/* Hiding column in enkeltposter */
div#services-index.layout-align-start-start.layout-column{ /*display:none !important*/}

/*Background color */
prm-journals-search-bar.animate-search-bar
{ background-color: #eae6e2 !important;}


/* HEADER PÅ FASETTER */

prm-facet-group button.section-title
{ background-color: #00769e !important;}


/* OVERLAY */

md-content.overlay-menu-content {
    background-color: #555;
}

/* FORNTPAGE CENTER */

prm-explore-main .layout-align-center-start.layout-row.flex prm-static.md-padding.flex{
  margin: 0px auto !important;
}


/* FOOTER stuff */


.footer-box.default-card._md.md-primoExplore-theme {
  background-color: #dcd5cf !important;
  min-width: 98%;
}
